<div class="flex flex-col p-4 gap-4">
    {{#each objects}}
        <button
            onclick="sendVideoKey('{{this}}')"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            id="video-list"
        >{{this}}</button>
    {{/each}}
</div>
<script>
    function sendVideoKey(videoKey) { if (socket.readyState === WebSocket.OPEN)
    { socket.send(JSON.stringify({ type: 'VIDEO_KEY', key: videoKey })); } else
    { console.error("WebSocket is not open. Ready state: " + socket.readyState);
    } }
</script>
