<div class="flex flex-col p-4 gap-4">
    {{#each objects}}
        <button
            onclick="sendVideoKey('{{this}}')"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            id="video-list-{{this}}"
        >{{this}}</button>
    {{/each}}
</div>
<script src="client/client.js"></script>
