<!doctype html>
<html lang="en">
    {{> header }}
    <body class="bg-zinc-800">
        <div id="swap" class="flex flex-col justify-center items-center content-center">
            <a href="https://github.com/ManeeshWije/watch-together" class="font-bold relative py-4 text-white w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">Source Code</a>
            {{#if Authenticated }}
                {{> logout }}
                {{> sidebar }}
                {{> video }}
            {{else}}
                {{> login }}
            {{/if}}
        </div>
    </body>
</html>
