<!doctype html>
<html lang="en">
    {{> header }}
    <body class="bg-zinc-800">
        <div id="swap" class="flex flex-col justify-center items-center content-center">
            <div class="flex justify-center items-start w-full">
                <a href="https://github.com/ManeeshWije/watch-together"
                   class="block font-bold py-4 text-white w-fit relative after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-center">
                    Source Code
                </a>
            </div>
            {{#if Authenticated }}
                {{> logout }}
                {{> sidebar }}
                {{> video }}
            {{else}}
                {{> login }}
            {{/if}}
        </div>
    </body>
    <script src="client/client.js"></script>
</html>
