<h2>WebSocket Password Form</h2>
<form id="password-form" hx-post="/submit" hx-swap="outerHTML" hx-trigger="submit">
    <input id="password" name="password" type="password">
    <input type="submit" value="Submit">
</form>
